@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--muted: 140.6 84.2% 92.5%;
		--muted-foreground: 142.1 70.6% 45.3%;

		--popover: 0 0% 100%;
		--popover-foreground: 144.9 80.4% 10%;

		--card: 0 0% 100%;
		--card-foreground: 144.9 80.4% 10%;

		--primary: 143.8 61.2% 20.2%;
		--primary-foreground: 138.5 76.5% 96.7%;

		--secondary: 140.6 84.2% 92.5%;
		--secondary-foreground: 143.8 61.2% 20.2%;

		--accent: 140.6 84.2% 92.5%;
		--accent-foreground: 143.8 61.2% 20.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 138.5 76.5% 96.7%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--muted: 142.8 64.2% 24.1%;
		--muted-foreground: 141.9 69.2% 58%;

		--popover: 144.9 80.4% 10%;
		--popover-foreground: 138.5 76.5% 96.7%;

		--card: 144.9 80.4% 10%;
		--card-foreground: 138.5 76.5% 96.7%;

		--primary: 138.5 76.5% 96.7%;
		--primary-foreground: 143.8 61.2% 20.2%;

		--secondary: 142.8 64.2% 24.1%;
		--secondary-foreground: 138.5 76.5% 96.7%;

		--accent: 142.8 64.2% 24.1%;
		--accent-foreground: 138.5 76.5% 96.7%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 138.5 76.5% 96.7%;

		--ring: 217.2 32.6% 17.5%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Firefox */
* {
	scrollbar-width: 8px;
	scrollbar-color: rgb(209 213 219);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(209 213 219);
	border-radius: 8px;
}
